.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}
.upload-button {
    width: 120px;
    height: 32px;
    border: 1px solid #1683FB;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 20px;
    float: right;
}