<h3 class="heading"><b>Manage Channel Definitions</b></h3> 
<div id="epMainContainer">
  <div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" 
                id="modal-basic-title">
                Enter Channel Definition Information
            </h4>
        </div>
        <div class="modal-body">
            <form class="form" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && onSubmit(channeldefinitionModel)">
                <div class="form-group">
                    <div class="input-group">
                      <input type="text"
                    class="form-control textboxAlignment" required id="name" [(ngModel)]="channeldefinitionModel.name"
                    placeholder="Name"  name="name"  #name="ngModel"><br>
                    <div *ngIf="(name.touched || registerForm.submitted) && name.errors?.required"
                    class="alert alert-danger validationstyling">
                 Name is required
               </div>
                    </div>
                    
               <div class="input-group">
                <input type="text"
                    class="form-control textboxAlignment" required id="code" [(ngModel)]="channeldefinitionModel.code"
                    placeholder="Channel Code"  name="code"  #code="ngModel" code><br>
                    <div *ngIf="(code.touched || registerForm.submitted) && code.errors?.required"
                    class="alert alert-danger validationstyling">
                 Channel Code is required
               </div>
            </div>
                  <div class="input-group">
                    <input type="text"
                        class="form-control textboxAlignment" required id="uom" [(ngModel)]="channeldefinitionModel.uom"
                        placeholder="Uom"   name="uom" #uom="ngModel" uom>
                        <div *ngIf="(uom.touched || registerForm.submitted) && uom.errors?.required"
                        class="alert alert-danger validationstyling">
                        UOM is required
                   </div>
                </div>
                <div class="input-group">
                  <input type="text"
                      class="form-control textboxAlignment" required id="dimension" [(ngModel)]="channeldefinitionModel.dimension"
                      placeholder="Dimension"  name="dimension" #dimension="ngModel" dimension>
                      <div *ngIf="(dimension.touched || registerForm.submitted) && dimension.errors?.required"
                          class="alert alert-danger validationstyling">
                          Dimension is required
                     </div>
              </div>
              <div class="input-group">
                <input type="text"
                    class="form-control textboxAlignment" required id="type" [(ngModel)]="channeldefinitionModel.type"
                    placeholder="Type"   name="type" #type="ngModel" type>
                    <div *ngIf="(type.touched || registerForm.submitted) && type.errors?.required"
                          class="alert alert-danger validationstyling">
                          Type is required
                     </div>
            </div>
              <div class="input-group">
                <input type="text"
                    class="form-control textboxAlignment" required id="legalclassification" [(ngModel)]="channeldefinitionModel.legalClassification"
                    placeholder="Legal classification"   name="legalclassification" #legalclassification="ngModel" legalclassification>
                    <div *ngIf="(legalclassification.touched || registerForm.submitted) && legalclassification.errors?.required"
                          class="alert alert-danger validationstyling">
                          Legal classification is required
                     </div>
            </div>
            <div class="input-group">
              <input type="text"
                  class="form-control textboxAlignment" [(ngModel)]="channeldefinitionModel.equipmentCodes"
                  placeholder="Please enter equipment codes like SPF-743,SPF-744"   name="equipmentCodes">
          </div>
                </div>
                <div class="modal-footer">
                  <div class="row">
                      <div class="col-sm-12 text-center">
                          <button type="button" 
                      class="btn btn-outline-danger closeModal" 
                      (click)="modal.dismiss('Cross click');closeModal()">
                      Cancel
                  </button>
                          <button style="height:20px;" type="submit" 
                          class="btn btn-outline-primary" 
                          >
                          Save
                      </button>
                       </div>
                  </div>
              </div>
            </form>
        </div>
       
    </ng-template>
</div>

<div class="buttonBlock">
  <div class="row">
      <div class="col-md-3"> <button class="btn btn-sm btn-outline-primary addbutton" 
              (click)="openModal(content)">
              Add Channel Definition 
          </button></div>
      <div class="col-md-3">
        
      </div>
      <div class="col-md-3">
         
      </div>
      <div class="col-md-3"> 
        <button *ngIf="channelDefinitionData && channelDefinitionData.length > 0" class="fmp-button fmp-button-primary export-button"
          (click)="exportAsXLSX()">
      Export Grid Data
      </button>
  </div>
  </div>               
</div>
    <div id="gridContainer" (window:resize)="onResize()">
            <kendo-grid #channeldefinitiongrid
                    [data]="gridData"
                    [pageable]="gridModel.isPagingEnabled"
                    [height]="[gridModel.gridHeight]"
                    (pageChange)="pageChange($event)"
                    (dataStateChange)="dataStateChange($event)"
                    [resizable]="gridModel.isColumnResizingEnabled"
                    [pageSize]="gridModel.take"
                    [skip]="gridModel.skip"
                    [group]="gridModel.GroupSettings"
                    [groupable]="gridModel.isGroupingEnabled"
                    [filter]="gridModel.FilterSettings"
                    [filterable]="gridModel.isFilteringEnabled"
                    [reorderable]="gridModel.isColumnReOrderEnabled"
                    [sortable]="gridModel.sorting"
                    [sort]="gridModel.SortSettings"
                    [selectable]="true"
                    [scrollable]="true"
                    (edit)="editHandler($event)"
                    
                    >
                    
            <ng-template kendoPagerTemplate>
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="btnCount"></kendo-pager-numeric-buttons>
                <kendo-pager-input></kendo-pager-input>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-page-sizes [pageSizes]="gridModel.pager.pageSizeOptions"></kendo-pager-page-sizes>
                <kendo-pager-info></kendo-pager-info>
            </ng-template>
            
            <kendo-grid-column field="code"
                               title="Channel Code"
                               width="70px"
                               filter="text"
                               [headerClass]="'columnStyle'"
                               >                      
            </kendo-grid-column>


          
            <kendo-grid-column field="equipmentCodes"

                                     title="EquipmentCode"
                                       width="100px"
                                       filter="text"
                                       [headerClass]="'columnStyle'">
                            <ng-template kendoGridCellTemplate let-dataItem>
                            <button kendoButton class="fmp-button fmp-button-primary equipment-code-button" *ngIf="!opened" (click)="open(dataItem)">
                             {{dataItem.equipmentCodes | slice:0:1}}
                            </button>
                        </ng-template>
                    </kendo-grid-column>
                              
             
            <kendo-grid-column field="dimension"
                               title="Dimension"
                               width="100px"
                               filter="text"
                               [headerClass]="'columnStyle'">                         
            </kendo-grid-column>
               
            <kendo-grid-column field="uom"
                               title="UOM"
                               width="100px"
                               filter="text"
                               [headerClass]="'columnStyle'">                         
            </kendo-grid-column>
        <kendo-grid-command-column title="" width="220">
            <ng-template kendoGridCellTemplate >
              <button kendoGridEditCommand [primary]="true">Delete</button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
    </div>
  </div>
<kendo-window [minWidth]="700" [minHeight]="400" title="" *ngIf="opened" (close)="close()" [data]="equipmentCodeData">
    <fieldset>
        <legend>Equipment Codes</legend>
        <kendo-grid [data]="equipmentCodeData" style="height: 400px; width: 700px;" 
        [sortable]="true"
        [sort]="true"
        [reorderable]="true"
        [resizable]="true">
        <kendo-grid-column field="equipmentCodeData" title="EquipmentCode" width="40" [data]="equipmentCodeData">
            <ng-template kendoGridCellTemplate let-equipmentcode>
                      {{ equipmentcode }}
              </ng-template>
        </kendo-grid-column>
        </kendo-grid>
      </fieldset>
</kendo-window>
